@font-face {
	font-family: 'arimoregular';
	src: url('../fonts/arimo-regular-webfont.eot');
	src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arimo-regular-webfont.ttf') format('truetype'),
		url('../fonts/arimo-regular-webfont.woff') format('woff'),
		url('../fonts/arimo-regular-webfont.svg#arimoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arimobold';
	src: url('../fonts/arimo-bold-webfont.eot');
	src: url('../fonts/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arimo-bold-webfont.ttf') format('truetype'),
		url('../fonts/arimo-bold-webfont.woff') format('woff'),
		url('../fonts/arimo-bold-webfont.svg#arimobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arimoitalic';
	src: url('../fonts/arimo-italic-webfont.eot');
	src: url('../fonts/arimo-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arimo-italic-webfont.ttf') format('truetype'),
		url('../fonts/arimo-italic-webfont.woff') format('woff'),
		url('../fonts/arimo-italic-webfont.svg#arimoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_slabbold';
	src: url('../fonts/robotoslab-bold-webfont.eot');
	src: url('../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotoslab-bold-webfont.ttf') format('truetype'),
		url('../fonts/robotoslab-bold-webfont.woff') format('woff'),
		url('../fonts/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
figure {
	margin:0;
	padding:0;
}
*{max-height:10000px;}
body{
	margin:0;
	color:#000;
	font:9px/12px Arial, Helvetica, sans-serif;
	background:#69c1e4; 
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	min-width: 320px;
}
img{
	border-style:none;
	vertical-align:top;
	max-width: 100%
}
a{
	text-decoration:none;
	color:#287691;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:100% 'arimoregular', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#303030;
	margin: 0;
	padding: 0;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type="image"]{padding:0;border:none;}
input [type="email"], input[type=search], input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}
#header{
	background:#c8e9ef;
	border-bottom: 1px solid #fff;
}
.header-top{
	padding: 10px;
	position: relative;
	z-index: 4;
}
.header-top:after{
	display: block;
	content: '';
	clear: both;
}
.logo{
	width: 122px;
	height: 47px;
	background: url(../images/logo.png) no-repeat;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	text-indent: -9999px;
}
.logo a{
	height: 100%;
	display: block;
}
.open-close{
	float: right;
	width: 40.625%;
	margin: -45px 17px 0 0;
}
a.opener{
	width:26px;
	height: 20px;
	background: url(../images/sprite.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	float: right;
}
#nav{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #0093a7;
	box-shadow: 0 1px 10px rgba(0,0,0,.55);
	font:10px/15px 'arimobold',  Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 40.625%; 
	border-width:1px;
	border-style: solid;
	border-color: #fff;
	position: absolute;
	right: 26px;
	top: 34px;
}
#nav a{
	color: #034054;
	background: #40aebe;
	padding-left: 38px;
}
#nav li{
	border-top: 1px solid #fff;
	line-height: 45px;
	height: 45px;
}
#nav li:first-child{ border: none;}
 #nav a:hover{ text-decoration: none;}
#nav a.inspired{
	display: block;
	background: url(../images/sprite.png) no-repeat 0 -500px;
}
#nav a.view-home{
	display: block;
	background:#73c4cf url(../images/sprite.png) no-repeat 0 -550px;
}
#nav a.direction{
	display: block;
	background:url(../images/sprite.png) no-repeat 0 -599px;
}
#nav a.signup{
	display: block;
	background:#73c4cf url(../images/sprite.png) no-repeat 0 -647px;
}
.contact-block{
	font-size: 11px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #b4a13b;
	background: -moz-linear-gradient(top,  #b4a13b 0%, #b9a63f 4%, #cdb748 12%, #d4bd49 15%, #ddc549 23%, #e2c84d 31%, #e2c84d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4a13b), color-stop(4%,#b9a63f), color-stop(12%,#cdb748), color-stop(15%,#d4bd49), color-stop(23%,#ddc549), color-stop(31%,#e2c84d), color-stop(100%,#e2c84d));
	background: -webkit-linear-gradient(top,  #b4a13b 0%,#b9a63f 4%,#cdb748 12%,#d4bd49 15%,#ddc549 23%,#e2c84d 31%,#e2c84d 100%);
	background: -o-linear-gradient(top,  #b4a13b 0%,#b9a63f 4%,#cdb748 12%,#d4bd49 15%,#ddc549 23%,#e2c84d 31%,#e2c84d 100%);
	background: -ms-linear-gradient(top,  #b4a13b 0%,#b9a63f 4%,#cdb748 12%,#d4bd49 15%,#ddc549 23%,#e2c84d 31%,#e2c84d 100%);
	background: linear-gradient(to bottom,  #b4a13b 0%,#b9a63f 4%,#cdb748 12%,#d4bd49 15%,#ddc549 23%,#e2c84d 31%,#e2c84d 100%);
}
.contact-block:after{
	display: block;
	content: '';
	clear: both;
}
.contact-block ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.contact-block li{
	float: left;
	border-left: 1px solid #fff;
	width: 49%;
	line-height: 27px;
	text-transform: capitalize;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-block li:first-child{border:none;}
.contact-block a.direction{
	background: url(../images/sprite.png) no-repeat 35px -25px;
	padding:2px 0 0 49px;
	color: #034054;
	display:block;
}
.contact-block a.contact{
	background: url(../images/sprite.png) no-repeat 44px -56px;
	padding:2px 0 0 59px;
	color: #034054;
	display:block;
}
#main{padding-bottom:5px; background-color: #C8E9EF;}
.addnav{
	margin: 0 0 19px;
	padding: 0;
	list-style: none;
}
.addnav a{
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.addnav li{
	height: 54px;
	overflow: hidden;
	background: #8fd1eb;
	border-bottom: 1px solid #fff;
	position: relative;
}
.addnav .alignleft{
	float: left;
	width: 137px;
}
.addnav .inspired,
.addnav .view-homes,
.addnav .direction,
.addnav .signup{
	background: url(../images/sprite.png) no-repeat 0 -264px;
	height: 54px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	text-transform: uppercase;
	font:13px/16px 'arimobold' , Arial, Helvetica, sans-serif;
	color: #034054;
	padding: 18px 10px 5px 47px;
}
.addnav li.even{ background: #adddf0;}
.addnav .view-homes{background-position: 0 -323px;}
.addnav .direction{background-position: 0 -382px}
.addnav .signup{ background-position: 0 -441px;}
.addnav li:hover a:after,
.addnav li.active a:after{
	background: url(../images/bg-hover.png) repeat-x;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.addnav li:hover a .inspired span,
.addnav li:hover a .view-homes span,
.addnav li:hover a .direction span,
.addnav li:hover a .signup span,
.addnav li.active a .inspired span,
.addnav li.active a .view-homes span,
.addnav li.active a .direction span,
.addnav li.active a .signup span{
	position: relative;
	z-index: 999;
}
#footer{
	text-align: center;
	padding-bottom: 40px;
	background: #d9c44b;
}
.visit-block{
	min-height:19px;
	background: #004155;
	background: -moz-linear-gradient(top,  #004155 0%, #00313e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004155), color-stop(100%,#00313e));
	background: -webkit-linear-gradient(top,  #004155 0%,#00313e 100%);
	background: -o-linear-gradient(top,  #004155 0%,#00313e 100%);
	background: -ms-linear-gradient(top,  #004155 0%,#00313e 100%);
	background: linear-gradient(to bottom,  #004155 0%,#00313e 100%);
	font-size: 11px;
	padding: 8px 29px 2px 10px;
}
.visit-block a{
	display: inline-block;
	color: #fff;
	vertical-align: top;
	text-transform: capitalize;
}
.social-netwoks{
	margin:9px 9px 7px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.social-netwoks li{
	display: inline-block;
	margin:0 5px 0;
}
.social-netwoks a{
	width: 28px;
	height: 28px;
	background: url(../images/ico-social.png) no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}
.social-netwoks a.facebook{ background-position: -40px 0;}
.social-netwoks a.linkedin{ background-position: -81px 0;}
.social-netwoks a.youtube{ background-position: -121px 0;}
.social-netwoks a.pinterest{ background-position: -160px 0;}
.social-netwoks a.instagram{ background-position: -201px 0;}
.copyright{ 
	display: block;
	color: #034054;
	font-size: 8px;
}
.copyright a{ color: #034054;}
.aligncenter{
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}
.aligncenter img{
	width: 100%;
	height: auto;
}
.intro{
	padding: 15px 25px 5px 25px;
	font-size: 11px;
	line-height: 11px;

}
.intro2{
	padding: 25px 0px 5px 0px;
	font-size: 11px;
	line-height: 11px;
}

.intro2 a {
	color: black;
}

.intro p{ margin: 0 auto 10px; width: 100%;}
.intro2 p {margin: 0 15% 15px; width: 90%;}
.intro p i{
	font-family: 'arimoitalic' ;
	font-style: normal;
}
.intro p b{
	font-family: 'arimobold' ;
	font-weight: normal;
}
.image-holder{
	overflow: hidden;
	margin: 14px 4% 12px;
	width: 100%;
}
.image-holder .alignleft{
	float: left;
	margin-right: 5px;
	width: 45%;
}
.image-holder .alignleft img{
	width: 100%;
	height: auto;
}
.list .title{
	display: block;
	margin-bottom:1px;
	font-family: 'arimobold' ;
	font-weight: normal;
}
.list ul{
	margin: 0;
	list-style: none;
	padding: 0 12px;
}
.list li{
	padding-left: 4px;
	margin-bottom: 8px;
	background: url(../images/bullet01.png) no-repeat 0 4px;
}
.builder-block-1{padding: 19px 23px 5px;}
.detail{ background: url(../images/bg-detail.png) no-repeat;
	padding:2px 0 0 52px;
	font:11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	width: 45%;
	margin: 0 auto 8px 0px;
}
.builder-block-2{padding: 19px 23px 5px;}
.detail2{ background: url(../images/bg-detail2.png) no-repeat;
	padding:2px 0 0 52px;
	font:11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	width: 45%;
	margin: 0 auto 8px 0px;
	padding-left: 130px;
}
.builder-block-3{padding: 19px 23px 5px;}
.detail3{ background: url(../images/bg-detail3.png) no-repeat;
	padding:2px 0 0 52px;
	font:11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	width: 50%;
	margin: 0 auto 8px 0px;
	padding-left: 135px;
}
.builder-block-4{padding: 19px 23px 5px;}
.detail4{ 
	background: url(../images/bg-detail4.png) no-repeat;
	padding:2px 0 0 52px;
	font:11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	width: 50%;
	margin: 0 auto 8px 0px;
	padding-left: 135px;

}
.map-holder{
	padding-right: 9px;
	margin-bottom: 15px;
}
.map-holder img{
	height: auto;
	margin-left: 1px;
}
.btn-map-it{
	border: 1px solid #4daad0;
	background: #0093a7;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-align: center;
	height: 26px;
	font:12px/26px 'roboto_slabbold' , Arial, Helvetica, sans-serif;
}
.btn-map-it span{
	background: url(../images/arrow01.png) no-repeat 100% 0;
	padding-right: 13px;
}
.connet-block{
	overflow: hidden;
	margin: 0 0 3px 12px;
}
.connet-block address{
	font-style: normal;
	color: #000;
	font-size: 9px;
	line-height: 9px;
	padding:0 3px 3px 32px;
	float: left;
	background: url(../images/sprite.png) no-repeat 0 -700px;
	width: 42.5%;
}
.connet-block .tel{
	background: url(../images/sprite.png) no-repeat 0 -158px;
	padding:8px 5px 12px 23px;
	float: left;
	width: 30%;
}
.inner{
	padding: 0 10px;
	line-height: 12px;
}
.inner p{ margin: 0 0 10px;}
.info{
	background: #b4e0f2;
	border-bottom: 2px solid #fff;
	padding: 6px 24px 2px;
}
.info p{ margin: 0 0 5px;}
.signup-form{padding:20px 33px 13px 22px;}
.signup-form .row{margin-bottom: 8px;}
.signup-form .row:after,
.signup-form:after{
	display: block;
	content: '';
	clear: both;
}
.signup-form .row label{
	display: block;
	margin:0 0 -1px 1px;
	text-transform: capitalize;
}
.signup-form input[type="text"],
.signup-form input[type="email"]{
	border:1px solid #4dabd0;
	padding: 6px 3.5%;
	box-shadow: inset 0px 0px 10px 1px rgba(119, 119, 119, 0.4);
	background:#fff;
	width: 93%;
	float: left;
}
.signup-form .col-1{
	width: 49.6%;
	float: left;
}
.signup-form .col-1 input[type="text"]{
	padding:6px 7%;
	width:86%;
	float: left;
}
.signup-form .col-2{
	width:22%;
	float: left;
	margin-left: 2%;
}
.signup-form .col-2 select{
	display: block;
	line-height:20px;
	box-shadow: inset 0px 0px 10px 1px rgba(119, 119, 119, 0.4);
	background:#fff;
	border:1px solid #4dabd0;
	padding: 5px 2px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.signup-form input[type="text"].error, 
.signup-form input[type="email"].error{ border: 1px solid #f00;}
.signup-form .col-3 input[type="text"]{
	padding:6px 10%;
	width:100%;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.signup-form .col-3{
	width:24.4%;
	float: left;
	margin-left: 2%;
}
.signup-form .title{
	float: left;
	font-weight: normal;
	margin: 4px 2px;
}
.signup-form .radio-holder{
	float: left;
	margin: 3px 0 0 6%;
}
.signup-form .radio-holder label{
	float: left;
	margin-right: 4px;
}
.signup-form .radio-holder input[type="radio"]{float: left;}
.signup-form input[type="submit"]{
	border: 1px solid #4daad0;
	background: #0093a7 url(../images/arrow01.png) no-repeat 63% 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-align: center;
	height: 26px;
	font:12px/26px 'roboto_slabbold' , Arial, Helvetica, sans-serif;
	width: 100%;
	cursor: pointer;
	position: relative;
}

.mobile-div {
	background-color: white;
	height: 3px;
	width: 100%;
}

.mobile-homes {
	height: 38em; 
	width: 100%; 
	margin: 35px 10% 50px 10%; 
	width: 80%
}

.homes-list {
	float: left; 
	width: 50%; 
	height: auto;
}

.homes-list2 {
	float: left; 
	width: 50%; 
	height: auto; 
	padding-top: 35px;
}
.leaflet-container {
	background: #c7ce99 !important;
	}
.leaflet-marker-pane img {opacity: 0.0 !important;}
/*.leaflet-left {
	left: 20% !important;
}

.leaflet-control-zoom-in {
		background:url(../images/plus.png) no-repeat !important;
		background-image:url(../images/plus.png) !important;
		background-repeat: no-repeat;
		background-size: 100% !important;

}

.leaflet-control-zoom-out {
		background:url(../images/minus.png) no-repeat !important;
		background-image:url(../images/minus.png) !important;
		background-repeat: no-repeat;
		background-size: 100% !important;
		margin-top: 1px;

}

.leaflet-control-layers, .leaflet-bar {
	background-color: transparent !important;
	border: none !important;
	z-index: 12;
}

.leaflet-bar a, .mapbox-icon, .map-tooltip.closable .close, .leaflet-control-layers-toggle, .leaflet-popup-close-button, .mapbox-button-icon:before {
	width: 75px !important;
	height: 40px !important;
	border-bottom: none !important;
	display: inline-block !important;
}

.leaflet-top .leaflet-control {
	margin-top: 0 !important;
	} */
@media ( -webkit-min-device-pixel-ratio : 1.5) and (max-width:767px),( min-resolution : 144dpi ) and (max-width:767px){
	.logo{
		background: url(../images/logo2x.png) no-repeat;
		background-size: 122px 47px;
	}
	.addnav .inspired{
		background: url(../images/sprite2x.png) no-repeat 0 -264px;
		background-size: 55px 750px;
	}
	.addnav .view-homes{
		background: url(../images/sprite2x.png) no-repeat 0 -323px;
		background-size: 55px 750px;
	}
	.addnav .direction{
		background: url(../images/sprite2x.png) no-repeat 0 -382px;
		background-size: 55px 750px;
	}
	.addnav .signup{
		background: url(../images/sprite2x.png) no-repeat 0 -441px;
		background-size: 55px 750px;
	}
	a.opener{
		background: url(../images/sprite2x.png) no-repeat;
		background-size: 55px 750px;
	}
	.contact-block a.direction{
		background: url(../images/sprite2x.png) no-repeat 35px -25px;
		background-size: 55px 750px;
	}
	.contact-block a.contact{
		background: url(../images/sprite2x.png) no-repeat 44px -56px;
		background-size: 55px 750px;
	}
	.social-netwoks a{
		background: url(../images/ico-social2x.png) no-repeat;
		background-size: 228px 28px;
		width: 28px;
		height: 28px;
	}
	.social-netwoks a.facebook{
		background: url(../images/ico-social2x.png) no-repeat -40px 0; 
		background-size: 228px 28px; 
		width: 28px; 
		height: 28px;
	}
	.social-netwoks a.linkedin{
		background: url(../images/ico-social2x.png) no-repeat -81px 0; 
		background-size: 228px 28px; 
		width: 28px; 
		height: 28px;
	}
	.social-netwoks a.youtube{
		background: url(../images/ico-social2x.png) no-repeat -121px 0;
		background-size: 228px 28px; 
		width: 28px; 
		height: 28px;
	}
	.social-netwoks a.pinterest{
		background: url(../images/ico-social2x.png) no-repeat -160px 0; 
		background-size: 228px 28px; 
		width: 28px; 
		height: 28px;
	}
	.social-netwoks a.instagram{
		background: url(../images/ico-social2x.png) no-repeat -200px 0; 
		background-size: 228px 28px; 
		width: 28px; 
		height: 28px;
	}
	.detail{
		background: url(../images/bg-detail2x.png) no-repeat;
		background-size: 80px 42px;
		padding-left: 60px;
	}
	.detail2{
		background: url(../images/bg-detail2.png) no-repeat;
		background-size: 126px 33px;
		font-weight: bold;
		font-size: 10px;
		padding-left: 130px;
		padding-bottom: 10px;
		font: 11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	}
	.detail3{
		background: url(../images/bg-detail3-2x.png) no-repeat;
		background-size: 126px 30px;
		padding-left: 140px;
		font-size: 10px;
		font-weight: bold;
		padding-bottom: 10px;
		font: 11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
	}
	.detail4{
		background: url(../images/bg-detail4-2x.png) no-repeat;
		background-size: 132px 32px;
		padding-left: 140px;
		font-size: 10px;
		font-weight: bold;
		padding-bottom: 10px;
		font: 11px/14px 'arimobold' , Arial, Helvetica, sans-serif;
}
	}
	.connet-block address{
		background: url(../images/sprite2x.png) no-repeat 0 -700px;
		background-size: 55px 750px;
	}
	.connet-block .tel{
		background: url(../images/sprite2x.png) no-repeat 0 -158px;
		background-size: 55px 750px;
	}
	.tel a {
	color: black; 
	}
	#nav a.inspired{
		background: url(../images/sprite2x.png) no-repeat 0 -500px;
		background-size: 55px 750px;
	}
	#nav a.view-home{
		background:#73c4cf url(../images/sprite2x.png) no-repeat 0 -550px;
		background-size: 55px 750px;
	}
	#nav a.direction{
		background:url(../images/sprite2x.png) no-repeat 0 -599px;
		background-size: 55px 750px;
	}
	#nav a.signup{
		background:#73c4cf url(../images/sprite2x.png) no-repeat 0 -646px;
		background-size: 55px 750px;
	}
	.btn-map-it span{
		background: url(../images/arrow01-2x.png) no-repeat 100% 0; 
		background-size: 5px 15px; 
		width: 5px; 
		height: 15px;
	}
	.signup-form input[type="submit"]{
		background: #0093a7 url(../images/arrow01-2x.png) no-repeat 63% 5px;
		background-size: 5px 15px; 
	}
}

